global
    log stdout format raw local0
    maxconn 4096
    tune.ssl.default-dh-param 2048

defaults
    log global
    mode http
    option httplog
    option dontlognull
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms

frontend http_api
    bind *:9090
    mode http

    acl PATH_lighthouse path_beg -i /lighthouse/
    acl PATH_eth path_beg -i /eth/
    
    use_backend http_api_servers if PATH_lighthouse
    use_backend http_api_servers if PATH_eth


frontend json_rpc
    bind *:8080
    mode http
    default_backend json_rpc_server

backend http_api_servers
    mode http
    option httpchk GET /lighthouse/health
    server lnode 127.0.0.1:{{ lighthouse_rpc_port }} check


backend json_rpc_server
    mode http
    server gnode 127.0.0.1:{{ geth_rpc_port }} check


listen stats
   bind *:8888
   stats enable
   stats uri /
   stats refresh 5s
   stats realm Haproxy\ Statistics
   stats auth scott:{{ random_password }}
